@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Logout" method="post"> 
    <div class="form-group">
        <label class="fw-bold">Пользователь:  @ViewBag.Username</label>
        <button type="submit" class="btn btn-outline-dark" id="btn">Выход</button>
    </div>

</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <a asp-controller="Home" asp-action="Login" class="text-decoration-none">Авторизация</a>
   <br />
    <a asp-controller="Home" asp-action="AuthIndex" class="text-decoration-none">База данных</a>

</div>
