@{
    ViewData["Title"] = "Home Page";
}
<p class="fw-bold">Пользователь:  @ViewBag.Username</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <a asp-controller="Home" asp-action="Login" class="text-decoration-none">Авторизация</a>
    <a asp-controller="Home" asp-action="AuthIndex" class="text-decoration-none">Защищенная страница</a>
</div>
